# copied library file
BioCro.so

# executable Make products
test_dynamical_system
test_biocro
test_harmonic_oscillator
segfault_test
test_repeat_runs
test_module_evaluation
test_all

# object files
*.o

